---
layout: default
---

<h1><%= resource.data.title %></h1>

<% if resource.data.last_updated %>
  <strong>Last updated on:</strong> <%= resource.data.last_updated %>
<% end %>

<%= yield %>

<hr />

<a
  href='<%=
    "#{site.data.site_metadata.source}/tree/main/src/#{resource.relative_path}"
  %>'
  class="edit-me"
>
  ✏️&nbsp;&nbsp;Edit me on GitHub
</a>
