$primary: #B9121B;
$primaryShadow: #4C1B1B;
$background: #FCFAE1;
$backgroundMid: #F6E497;
$backgroundShadow: #BD8D46;

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-image {
  width: 35%;
}

.about-image {
  width: 350px;
  height: 438px;
}

.left {
  float: left;
  margin: 0 25px 15px 0;
}

.left-margin {
  margin: 0 25px 15px 0;
}

.right {
  float: right;
}

.edit-me {
  font-weight: 500;
  text-decoration: none;
}

.shadow-border {
  border: 1px solid lighten($primaryShadow, 15%);
}

.flex {
  display: flex;
  
  @media (max-width: 700px) {
    &.flex-column-mobile {
      flex-direction: column;
    }
  }
}

.box-card {
  background: lighten($backgroundMid, 15%);
  border: 2px solid $backgroundShadow;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

  box-shadow: 3px 5px 5px rgba($backgroundShadow, 25%);

  h2 {
    margin-bottom: 0;
    border-bottom: 2px dotted $backgroundShadow;
    padding-bottom: 15px;

    a {
      color: $primaryShadow;
      text-decoration: none;
    }
  }

  p {
    display: inline;
  }
}

body {
  background: lighten($backgroundMid, 12%);
  color: $primaryShadow;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;

  .siteTitle {
    margin: 0;
    background: $primary;
    text-align: center;

    h1 {
      color: $background;
      background: darken($primary, 5%);
      line-height: 1;
      margin: 0;
      padding: 25px 0;

      font-weight: 800;
      font-size: 3rem;

      a {
        color: $background;
        text-decoration: none;

        &:hover {
          color: lighten($background, 15%);
        }
      }
    }
  }

  .primaryNavigation {
    background: $primary;
    padding: 5px 0;
    line-height: 0;

    border-top: 2px solid rgba($primaryShadow, 25%);

    box-shadow: 0 5px 5px rgba($backgroundShadow, 50%);

    ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      font-size: 1.3rem;
      font-weight: bold;

      li {
        a {
          text-decoration: none;
          color: $background;
        }
      }
    }
  }
}

a {
  color: $primary;
  text-decoration: underline;
  text-decoration-color: $primaryShadow;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 650;
  font-size: 2.5rem;
  color: darken($primary, 25%);
  line-height: 1.2;
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: $background;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}
