<footer>
  Made with ❤️ by the Ruby Learning Center | Site powered by <a href="https://www.bridgetownrb.com/">Bridgetown.rb</a>

  <br /><br />

  <ul class="social-list">
    <li>
      <a href="<%= site.metadata.twitch_link %>">
        <i class="fa-brands fa-twitch"></i> Twitch
      </a>
    </li>

    <li>
      <a href="<%= site.metadata.youtube_link %>">
        <i class="fa-brands fa-youtube"></i> YouTube
      </a>
    </li>

    <li>
      <a href="<%= site.metadata.twitter_link %>">
        <i class="fa-brands fa-twitter"></i> @RubyLearningDev
      </a>
    </li>

    <li>
      <a href="<%= site.metadata.discord_link %>">
        <i class="fa-brands fa-discord"></i> Discord
      </a>
    </li>
  </ul>
</footer>
